body{
    font-family: Arial, sans-serif;
}
header {
    background-color: #2563eb;
    color: white;
    text-align: center;
    padding: 20px;
}
 
/* Estilo del contenido */
.content {
    margin-bottom: 50px; /* Ajusta este valor para que coincida con la altura del footer */
    padding: 20px;
    transition: margin-left 0.3s ease; 
  }
  

  /* Estilo de las tarjetas */
  .card-container {
      
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
  }
  
  .card-container {
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
  }
  
  .card {
    position: relative;
    width: 100%;
    height: 150px;
    background: linear-gradient(-45deg, #ffffff 0%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-decoration-color: #f1f1f1;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .card::after {
    content: '';
    position: absolute;
    background: #1e40af;
    text-decoration-color: #f1f1f1;
    inset: 5px;
    border-radius: 15px;
    transition: transform 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    z-index: 1; /* Asegura que el ::after quede detrás del contenido */
  }
  
  .card::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 180%;
    background-image: linear-gradient(180deg, rgb(5, 176, 199), rgb(150, 222, 240));
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
    z-index: 0; /* Asegura que ::before quede aún más atrás */
  }
  
  @keyframes rotBGimg {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .card svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .card:hover {
    transform: rotate(-5deg) scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .card__content {
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.9); /* Fondo semi-transparente */
    z-index: 2; /* Coloca el contenido encima del ::after */
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .card:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }
  
  .card__title {
    margin: 0;
    font-size: 24px;
    color: #84c5f0;
    font-weight: 700;
  }
  
  .card__description {
    margin: 10px 0 0;
    font-size: 14px;
    color: #777;
    line-height: 1.4;
  }
  
  .card:hover svg {
    scale: 0;
    transform: rotate(-45deg);
  }
  
  footer {
    margin-bottom: 0px;
    background-color: #1f2937;
    color: #f3f4f6;
    text-align: center;
    font-size: 1rem;
    padding: 1rem;
}

footer p {
    margin-top: 15px;
}